@import 'tailwindcss';
@config "../../tailwind.config.js";

/** 기본 색상 변수 **/
:root {
  --background: #ffffff;
  --foreground: #171717;

  /* 디자인 시스템 컬러 변수 */
  --primary-normal: #802bff;
  --primary-light: #ccaaff;
  --primary-navy: #142c67;

  --black-normal: #343434;
  --black-alternative: #979999;

  --gray-strong: #828285;
  --gray-normal: #dadbdc;
  --gray-light: #f4f6f8;

  --white: #ffffff;

  --true-1: #187f1e;
  --true-2: #5cc420;
  --true-3: #fcc12b;
  --true-4: #f5782a;
  --true-5: #cf291b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
  word-break: keep-all;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}

/** 공통 바디 스타일 **/
body {
  background-color: var(--background);
  color: var(--foreground);
  margin: 0 auto;
  max-width: 1280px;
  /* background-color: pink; 데스크톱 확인용 기본 색 */
}

/** 모바일 (0~639px) */
@media (max-width: 639px) {
  body {
    max-width: 100%;
    /* background-color: blue; 모바일 배경 */
  }
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: inherit !important;
}
/** Swiper 스타일 **/
/* 화살표 색상 변경 */
.swiper-button-prev,
.swiper-button-next {
  color: #802bff !important;
}

/* 페이지네이션 점 기본 색 */
.swiper-pagination-bullet {
  background-color: #979999 !important;
  opacity: 1;
}

/* 활성 점 색 */
.swiper-pagination-bullet-active {
  background-color: #802bff !important;
}
.swiper-pagination {
  bottom: -2% !important;
}
